#banner
{
  font-size: 50;
  width: 100%;
  background-color: #ccc;

  padding: 10px;
  margin-bottom: 50px;
}

#forum_div
{
  width: 30em;
  margin: auto;
}

#forum_table
{
  font-size: 20;
}

.forum_link
{
  padding: 10px;
  background-color: #ccc;
  text-decoration: none;
  color: black;
  width: 25em;
  display: block;
}

table.forum_table_class td
{
  padding: 10px;
}
